<div class="top-wrapper">
  <div class="container">
    <h1>FRIDGEM</h1>
    <p>
    ご家庭の食材管理で失敗したことはございませんか？<br>
    すでに冷蔵庫にある食材を買ってしまった、<br>
    同じレシピを何度も検索し直している、<br>
    毎日の食費にかけすぎている、などなど。<br>
    FRIDGEMがあればそのような課題は解決されます。
    </p>
  </div>
</div>
<div class="top-wrapper2">
  <div class="container2">
    <h1>主な機能</h1>
    <div class="function">
      <div class="image_circle2"></div>
      <h2>食材管理機能</h2>
      <p>購入した食材情報を登録することで、<br>
      いつでもどこでも冷蔵庫の中身を確認できます。</p>
    </div>
    <div class="function">
      <div class="image_circle3"></div>
      <h2>食費計算機能</h2>
      <p>登録食材の中から使用した食材を登録し、<br>
      日別の食費を記録することができます。</p>
    </div>
    <div class="function">
      <div class="image_circle4"></div>
      <h2>レシピ記録機能</h2>
      <p>料理を作るために何を使用したのかを<br>
      記録することができます。</p>
    </div>
  </div>
  <div class="container2">
    <h2>ユーザ登録をしてはじめましょう！</h2>
    <a href="/signup" class="btn signup"><span class="fa signup"></span>ユーザ登録</a>
    <a href="/login" class="btn login"><span class="fa login"></span>ログイン</a>
  </div>
</div>