<div class="top-wrapper">
  <div class="container">
    <h1>FRIDGEM</h1>
    <p>食費管理アプリです。<br>購入した食材を登録して、1日あたりの食費を計算管理します。</p>
    <a href="#" class="btn login"><span class="fa login"></span>ログイン</a>
    <a href="#" class="btn add-user"><span class="fa add-user"></span>ユーザ登録</a>
  </div>
</div>
