<% provide(:title, 'メニュー') %>
<div class="menu-wrapper">
  <div class="menu">
    <div class="image_circle1"></div>
    <p class="txt-contents">
      <%= link_to "食材を登録する", new_user_food_stock_path(@user), class:"contents-btn" %>
    </p>
  </div>
  <div class="menu">
    <div class="image_circle2"></div>
    <p class="txt-contents">
      <%= link_to "食材を使う", new_user_food_consume_path(@user), class:"contents-btn" %>
    </p>
  </div>
  <div class="menu">
    <div class="image_circle3"></div>
    <p class="txt-contents">
      <%= link_to "食材一覧", user_food_stocks_path(@user), class:"contents-btn" %>
    </p>
  </div>
  <div class="menu">
    <div class="image_circle4"></div>
    <p class="txt-contents">
      <%= link_to "食費カレンダー", user_calender_path(@user), class:"contents-btn" %>
　　</p>
  </div>
</div>