<% provide(:title, @user.name) %>
<div class="menu-wrapper">
  <div class="menu">
    <div class="image_circle1"></div>
    <p class="txt-contents"><a href="#">食材を登録する</a></p>
  </div>
  <div class="menu">
    <div class="image_circle2"></div>
    <p class="txt-contents"><a href="#">食材を使う</a></p>
  </div>
  <div class="menu">
    <div class="image_circle3"></div>
    <p class="txt-contents"><a href="#">食材一覧</a></p>
  </div>
  <div class="menu">
    <div class="image_circle4"></div>
    <p class="txt-contents"><a href="#">食費カレンダー</a></p>
  </div>
</div>
