<% provide(:title, @user.name) %>
<div class="menu-wrapper">
  <div class="menu">
    <div class="image_circle1"></div>
    <p class="txt-contents">食材を登録する</p>
  </div>
  <div class="menu">
    <div class="image_circle2"></div>
    <p class="txt-contents">食材を使う</p>
  </div>
  <div class="menu">
    <div class="image_circle3"></div>
    <p class="txt-contents">食材一覧</p>
  </div>
  <div class="menu">
    <div class="image_circle4"></div>
    <p class="txt-contents">食費カレンダー</p>
  </div>
</div>
