<% provide(:title, @user.name) %>
<div class="menu-wrapper">
  <div class="menu">
    <div class="image_circle1"></div>
    <p class="txt-contents">
      <%= link_to "食材を登録する", new_user_food_path(@user) %>
    </p>
  </div>
  <div class="menu">
    <div class="image_circle2"></div>
    <p class="txt-contents">
      <%= link_to "食材を使う", '#' %>
    </p>
  </div>
  <div class="menu">
    <div class="image_circle3"></div>
    <p class="txt-contents">
      <%= link_to "食材一覧", user_foods_path(@user) %>
    </p>
  </div>
  <div class="menu">
    <div class="image_circle4"></div>
    <p class="txt-contents">
      <%= link_to "食費カレンダー", '#' %>
　　</p>
  </div>
</div>