@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* 一般 */

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
  background-color: #EEEEEE;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

h1, h2 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

/* Home */
.top-wrapper {
  height: 100vh;
  background: url(fd400696.jpg) no-repeat;
  background-size: cover;
  max-width: 100%;
  padding: 250px 0 100px 0;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.9;
  font-size: 45px;
  letter-spacing: 5px;
}

.top-wrapper p {
  opacity: 0.9;
  font-size: 1.1em;
  margin-bottom: 15px;
}

.signup {
  background-color: #3b5998;
}

.login {
  background-color: #55acee;
  margin-right: 10px;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

.container p{
  text-align: left;
  padding: 30px 0 0 370px;
  line-height: 2em;
}

.top-wrapper2{
　height: 100vh;
  background-size: cover;
  max-width: 100%;
  margin: 100px 100px 100px 100px;
  text-align: center;
}

.function{
  float: left;
  width: 33.3%;
  padding: 10px 0 50px 0;
  text-align: center;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: black;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  opacity: 0.5;
  text-decoration: none;
}

#logo2{
  color: black;
}

/* デバッグ用 */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

/* ログイン・ユーザ登録 */
* { margin: 0; padding: 0; box-sizing: border-box; }

.form-wrapper {
  background: #fafafa;
  margin: 130px auto;
  padding: 0 1em;
  max-width: 370px;
}

.form-wrapper h1 {
  font-size: 2em;
  text-align: center;
  padding-top: 1.5em;
}

form {
  padding: 0 1.5em;
}

.form-item {
  margin-bottom: 0.75em;
  width: 100%;
}

.form-item input {
  background: #fafafa;
  border: none;
  border-bottom: 2px solid #e9e9e9;
  color: #666;
  font-size: 1em;
  height: 50px;
  transition: border-color 0.3s;
  width: 100%;
}

.form-item input:focus {
  border-bottom: 2px solid #c0c0c0;
  outline: none;
}

.btn-panel {
  margin: 2em 0 0;
  width: 100%;
}

.btn-panel .btn {
  background: #f16272;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;
  width: 100%;
}

.btn:hover {
  background: #ee3e52;
}

.form-footer {
  font-size: 0.8em;
  padding: 2em 0 3.5em 0;
  text-align: center;
}

.form-footer a {
  color: #8c8c8c;
  font-size: 1.1em;
  text-decoration: none;
  transition: border-color 0.3s;
}

.form-footer a:hover {
  color: black;
  text-decoration: none;
}

.checkbox {
  margin-top: 10px;
  margin-bottom: 10px;
  opacity: 0.8;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* Accountプルダウン */

.dropdown-menu.active {
  display: block;
}

/* ユーザメニュー */
.menu-wrapper {
  text-align: center;
  padding: 240px 100px 100px 100px;
}

.menu {
  float: left;
  width: 25%;
}

.txt-contents {
  margin-top: 30px;
  font-size: 1.2em;
  color: black;
}

.image_circle1 {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background-image: url(fd400977.jpg);
  margin: auto;
  background-size: contain;
}

.image_circle2 {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background-image: url(niz0024-003.jpg);
  margin: auto;
  background-size: contain;
}

.image_circle3 {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background-image: url(fd400677.jpg);
  margin: auto;
  background-size: contain;
}

.image_circle4 {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background-image: url(4569115_s.jpg);
  margin: auto;
  background-size: contain;
}

.contents-btn{
  text-decoration: none;
  color: black ;
}

/* 機能画面共通 */
.title{
  background-image: url(header.png);
  background-size: cover;
  font-size: 0.8em;
  text-align: center;
  padding: 60px 10px 10px 10px;
}

.back-btn{
  text-align: center;
}

/* 食材在庫・食材消費登録*/
.form-wrapper2 {
  max-width: 900px;
  margin: 0  auto;
  padding: 2.5em 1em 4em 1em;
}
@media only screen and (max-width: 768px) {
  .form-wrapper2 {
    width: 95%;
  }
}

.form-wrapper2 table {
  width: 100%;
}

.form-wrapper2 table tr {
  position: relative;
}

.form-wrapper2 table tr:after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 1px;
  border-bottom: dotted #cdcdcd 1px;
}

.form-wrapper2 table th {
  font-size: 1.2em;
  text-align: center;
  width: 30%;
  font-weight: normal;
  padding: 1em .5em;
  box-sizing: border-box;
}
@media only screen and (max-width: 768px) {
  .form-wrapper2 table th {
    text-align: center;
    width: 100%;
    display: block;
    background: #97ae88;
    padding: .8em .2em;
    color: #fff;
  }
}

.form-wrapper2 table td {
  padding: 1em .5em;
  box-sizing: border-box;
}
@media only screen and (max-width: 768px) {
  .form-wrapper2 table td {
    padding: 1.5em .5em;
    display: block;
    width: 100%;
  }
}

.form-wrapper2 table select {
  border: 1px solid #97ae88;
  width: auto;
  height: 3em;
  padding: .5em;
  box-sizing: border-box;
}

.form-wrapper2 table input {
  height: 3em;
  padding: .5em;
  box-sizing: border-box;
}

.btn-panel2 {
  margin: 2em 0 0;
  width: 100%;
  text-align: center;
}

.btn-panel2 .btn {
  background: #f16272;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;
  width: 30%;
}

.btn:hover {
  background: #ee3e52;
}

/* 食材在庫・食材消費一覧*/
.index-wrapper{
  margin: 30px auto 0 auto ;
}

.indexTable{
  margin: auto;
}

.name-cal{
  width: 300px;
}

.price-cal, .quantity-cal{
  width: 100px;
}

.date-cal{
  width: 150px;
}

.index-wrapper th {
  text-align: center;
  background: #ee3e52;
  border: solid 1px #ccc;
  color: #fff;
  padding: 10px;
}
.index-wrapper td {
  background: white;
  border: solid 1px #ccc;
  padding: 10px;
}
@media screen and (max-width: 640px) {
  .indexTable {
    width: 80%;
  }
  .indexTable .thead {
    display: none;
  }
  .indexTable tr,
  .indexTable td{
    display: block;
    width: 100%;
    position: relative;
  }
  .indexTable td:first-child:before {
    content: "見出し:before";
    background: #e9727e;
    box-sizing: border-box;
    color: #fff;
    font-weight: bold;
    height: 40px;
    padding: 10px;
    position: absolute;
    top: -41px;
    left: -0.2%;
    display: block;
    width: 100.5%;
  }
  .indexTable tr {
    margin-bottom: 40px;
  }
}

.paginate{
  text-align: center;
}

/* 食費カレンダー*/
.calender-wrapper{
  margin: 0 150px;
}

.consume-btn{
  margin: 30px 170px 0 0;
  text-align: right;
}

.simple-calendar {
  .day {
    background-color: white;
  }
  .today {
    background-color: #FFFF99;
  }
  .prev-month {
    background-color: #d3d3d3;
  }
  .next-month {
    background-color: #d3d3d3;
  }
}

.week {
	background-color: #808080;
	color: white;
}